<!-- <h1>Chat</h1>

<hr> -->

<div class="container">
    <div id="app-mensajes" class="card mx-auto text-white mb-3">
        <div class="card-header bg-info text-center font-weight-bold">CHAT</div>
        <div class="card-body bg-dark">
            <p class="card-text"
                *ngFor="let c of chatService.chats" [ngClass]="{ 
                    'text-right': c.uid == chatService.usuario.uid,
                    'text-left': c.uid != chatService.usuario.uid
                }">
                
                <span class="badge mr-2" [ngClass]="{ 
                    'badge-primary': c.uid == chatService.usuario.uid,
                    'badge-success': c.uid != chatService.usuario.uid
                }">{{ c.nombre }}
                    </span>
                    <span>{{ c.mensaje }}</span>
    
            </p>

            <input type="text" name="mensaje" 
    class="form-control" 
    [(ngModel)]="mensaje" 
    (keyup.enter)="enviarMensaje()"
    placeholder="Enviar mensaje">
        </div>
    </div>
</div>




<!-- <div class="app-mensajes" id="app-mensajes">

    <div *ngFor="let c of chatService.chats" 
        [ngClass]="{ 
            'text-right': c.uid == chatService.usuario.uid,
            'text-left': c.uid != chatService.usuario.uid
        }">
        <span class="badge"
            [ngClass]="{ 
                'badge-primary': c.uid == chatService.usuario.uid,
                'badge-success': c.uid != chatService.usuario.uid
            }">{{ c.nombre }}
        </span>
        <p>{{ c.mensaje }}</p>
    </div>
    
</div> -->

<!-- <input type="text" name="mensaje" 
    class="form-control" 
    [(ngModel)]="mensaje" 
    (keyup.enter)="enviarMensaje()"
    placeholder="Enviar mensaje"> -->