<h1>Lista de la compra</h1>
<div class="text-muted text-center">{{userName}}</div>

<hr>

<div class="row">
    <div class="col text-center">
        <button routerLink="/product/new"
        class="btn btn-primary">
            <i class="fa fa-plus" aria-hidden="true"> Nuevo producto</i>
        </button>
    </div>
</div>

<table *ngIf="!loading && products.length > 0" class="table table-sm table-borderless table-striped mt-3 text-center">
    <thead class="thead-dark">
        <tr>
            <!-- <th scope="col">#</th> -->
            <th scope="col">Nombre</th>
            <th scope="col">Uds</th>
            <th scope="col">Categoría</th>
            <th scope="col">Acción</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products; let i = index">
            <!-- <th scope="row">{{ i + 1 }}</th> -->
            <td>{{ p.name }}</td>
            <td>{{ p.amount }}</td>
            <td>{{ p.category }}</td>
            <td>
                <button class="btn btn-info mr-1" [routerLink]="['/product', p.id]">
                    <i class="fa fa-pen" aria-hidden="true"></i>
                </button>
                <button class="btn btn-danger mr-1" (click)="deleteProduct(p, i)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<div *ngIf="loading" class="alert alert-info text-center mt-3">
    <h4 class="alert-heading">Cargando</h4>
    <p>
        <i class="fa fa-sync fa-spin fa-2x"></i>
    </p>
    <p class="mb-0">
        Espere por favor
    </p>
</div>

<div *ngIf="!loading && products.length === 0" class="alert alert-warning text-center mt-3">
    <h4 class="alert-heading">No hay registros</h4>
    <p>
        <i class="fa fa-exclamation fa-2x"></i>
    </p>
</div>


<div class="container text-center">
        <a class="btn btn-danger" (click)="logout()">Salir</a>
    <div class="text-muted">
        Cerrar sesión
    </div>
</div>